// app global css in SCSS form
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background: #030000;
background: linear-gradient(180deg,#030000 33%, #090979 66%, #0037ff 100%);
  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.q-item__section--main ~ .q-item__section--side {
	align-items: flex-end;
	padding-right: 0;
	padding-left: 0;
}

.q-field__control {
	color: var(--q-accent);
	height: 56px;
	max-width: 100%;
	//outline: none;
  background: rgba(251, 251, 251, 0.088);
}

.q-field__bottom {
	font-size: 12px;
	min-height: 20px;
	line-height: 1;
	color: rgb(255, 254, 254);
	padding: 8px 12px 0;
	backface-visibility: hidden;
}

.q-field {
	font-size: 24px;
}

.q-item__section--side {
	color: #fff;
}

.q-item__section--side > .q-icon {
	font-size: 34px;
}

.q-field__marginal {
	color: rgb(255, 255, 255);
	font-size: 24px;
}

.q-field__native, .q-field__prefix, .q-field__suffix, .q-field__input {
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.00937em;
	text-decoration: inherit;
	text-transform: inherit;
	//background: rgba(251, 251, 251, 0.57);
	color: rgba(254, 254, 254, 0.87);
	outline: 0;
	padding: 6px 0;
}

.font-color {
  color: white;
}

.q-item__label--caption {
  color: rgba(251, 251, 251, 0.54);
}

.safe-area-top {
  padding-top: env(safe-area-inset-top);
  height: calc(63px + env(safe-area-inset-top));
}

body.platform-ios .my-toolbar-title {
	padding-top: 63px; /* Adjust as needed for specific alignment */
}

.safe-area-bottom {
  //height: calc(100% + env(safe-area-inset-bottom));
  padding-bottom: env(safe-area-inset-bottom);
}

.rotated-safe-areas {
  padding-right: env(safe-area-inset-right);
  padding-left: env(safe-area-inset-left);
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}